<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">
                            sign Up
                        </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm" >
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="fullName" type="text" placeholder="fullName">
                                </div>
                            </div>
                            <small
                                *ngIf="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')"
                                class="text-danger">*fullName is required</small>

                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="userName" type="text" placeholder="userName">
                                </div>
                            </div>
                            <small
                                *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')"
                                class="text-danger">*userName is required</small>

                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small
                                *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"
                                class="text-danger">*Email is required</small>

                           

                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small
                                *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"
                                class="text-danger">*Password is required</small>

                                <div class="form-group p-3">
                                    <div class="input-field" [class.error]="signUpForm.controls['confirmationPassword'].dirty && signUpForm.hasError('required','confirmationPassword')">
                                        <span class="fa fa-lock p-2"></span>
                                        <input formControlName="confirmationPassword" type="text" placeholder="confirmationPassword">
                                        <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                    </div>
                                </div>
                                <small
                                    *ngIf="signUpForm.controls['confirmationPassword'].dirty && signUpForm.hasError('required','confirmationPassword')"
                                    class="text-danger">*confirmationPassword is required</small>

                                    <!-- <div class="form-group p-3">
                                        <div class="input-field" [class.error]="signUpForm.controls['roles'].dirty && signUpForm.hasError('required','roles')">
                                            <span class="fa fa-user p-2"></span>
                                            <input formControlName="roles" type="text" placeholder="roles">
                                        </div>
                                    </div>
                                    <small
                                        *ngIf="signUpForm.controls['roles'].dirty && signUpForm.hasError('required','roles')"
                                        class="text-danger">*roles is required</small> -->


                            <button type="submit" class="btn btn-success btn-block mt-4 w-100" (click)="onSignup()">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account? <a id="forget"
                                    routerLink="/login">Login</a></div>
                        </form>
                        <!-- <div class="mx-3 my-3 py-2 bordert">
                            <div class="text-center py-3">

                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>